<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.myapplication">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 출처: http://sehyo88.tistory.com/entry/Android-Bluetooth-기초-외부-Device와-연결 [나의 성장 일기] -->
    <!-- 출처: http://bcho.tistory.com/search/날씨 [조대협의 블로그] -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/obelock_launcher2_72"
        android:label="@string/app_name"
        android:roundIcon="@drawable/obelock_launcher2_72"
        android:supportsRtl="true">
        <!--tools:replace="android:allowBackup">-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDr9Dlp1X3cZWjZnRxKolGiStZxQelTtXQ" />
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.LoadingActivity"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AddLockActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.LockManageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.DeviceListActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>